.btn-link-style {
  background: none;
  border: none;
  color: #272727;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
  cursor: pointer;
}

.btn-link-style:hover {
  text-decoration:none;
  color: #000000;
}

html {
  scroll-padding-top: 80px; /* ajuste à la hauteur de ta navbar */
}

.progress-bar {
  transition: width 2s ease-in-out;
}

.card-img {
  object-fit: cover;
  height: 300px;
  max-height: 300px;
}

.card-text {
  display: -webkit-box;
  -webkit-box-orient: vertical;
  overflow: hidden;
  text-overflow: ellipsis;
  -webkit-line-clamp: 2;
}

@media (max-width: 400px) {
  .card-text {
    -webkit-line-clamp: 3;
  }
}

.carousel {
  max-width: 600px;
  border-radius: 1rem;
  overflow: hidden;
  transition: border-radius 0.3s ease;
}

.carousel-item {
  height: 475px;
  transition: transform 0.6s cubic-bezier(0.4, 0, 0.2, 1), opacity 0.6s cubic-bezier(0.4, 0, 0.2, 1);
}

.card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.modal .btn-close {
  filter: invert(1);
  background-color: rgba(255, 255, 255, 1); /* léger fond noir transparent */
  border-radius: 50%;
}

.img-shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.progress-icon {
  width: 30px;
  height: 30px;
  font-size: 30px !important;
  line-height: 30px;
}

.insta-small {
  max-width: 280px;
  width: 100% !important;
  margin: 0 auto;
}

.insta-small iframe {
  width: 100% !important;
  height: auto !important;
  max-height: 500px;
}

.insta-icon {
  color: #C13584;
}

.ratio-9x16 {
  position: relative;
  padding-top: 177.78%;
  
}

.text-justify {
  text-align: justify;
}

.animate-on-scroll {
  opacity: 0;
  visibility: hidden;
  transform: translate3d(0, 10px, 0);
  transition: opacity 0.8s ease, transform 0.8s ease;
  will-change: opacity, transform;
}

.animate-on-scroll.animate__animated.animate__fadeInUp {
  opacity: 1;
  visibility: visible;
  transform: translate3d(0, 0, 0);
  animation-name: fadeInUpCustom;
  animation-duration: 0.8s;
  animation-fill-mode: forwards;
}

/* Animation keyframes */
@keyframes fadeInUpCustom {
  from {
    opacity: 0;
    transform: translate3d(0, 10px, 0);
  }
  to {
    opacity: 1;
    transform: translate3d(0, 0, 0);
  }
}

/* Forcer les images à être visibles immédiatement, sans transition */
.animate-on-scroll img {
  opacity: 1 !important;
  visibility: visible !important;
  transition: none !important;
}
