.btn-link-style {
  background: none;
  border: none;
  color: #272727;
  text-decoration: none;
  padding: 0.5rem 1rem;
  transition: all 0.3s ease;
}

.btn-link-style:hover {
  text-decoration:none;
  color: #000000;
}

.insta-icon {
  color: #C13584;
}

html {
  scroll-padding-top: 80px; /* ajuste à la hauteur de ta navbar */
}

.card-img-top {
  object-fit: cover;
  height: 300px;
}

.carousel-item {
  height: 475px; /* Ajuste selon ton besoin */
}

.carousel-item .card {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.card-body {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  ;
}

.img-shadow {
  box-shadow: 0 4px 8px rgba(0,0,0,0.2);
  border-radius: 15px;
}

.progress-icon {
  width: 30px;
  height: 30px;
  font-size: 30px !important;
  line-height: 30px;
}

.ratio-9x16 {
  position: relative;
  width: 100%;
  padding-top: 177.78%; /* 16/9 = 56.25%, donc 9/16 = 177.78% */
}

.text-justify {
  text-align: justify;
}